#contenedor-pantalla {
    height: 700px;
    background-color: #e5bbff;
    padding: min(1px,5%);
}
#contenedor-semestres {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.titulos-semestres {
    color: #ffffff;
    background-color: #b083cf;
    border-radius: 8px;
    width: 110px;
    text-align: center;
    margin: auto;
}
.semestres {
    align-items: center;
    display: grid;
    gap: 10px;
}
.ramo {
    background-color: #b083cf;
    margin: auto;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 140px;
    height: 72px;
    font-size: 15px;
}
.ramo-bloqueado {
    background-color: #eed2ff;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
    width: 140px;
    height: 72px;
    font-size: 15px;
}
.ramo:hover {
    background-color: #d0a1ef;
}
.ramo-pasado {
    text-decoration: line-through;
    background-color: #734a91;
    border-radius: 10px;
    border: 0px;
    width: 140px;
    height: 72px;
    font-size: 15px;
    color: #ffffff;
}